<div class="text-center">
    <h1>Search Flight</h1>
</div>
<div>
    <form #bookFlightForm="ngForm" (ngSubmit)="onSubmit(bookFlightForm)">
        <div class="d-flex ps-4">
            <div class="form-group pb-3 pt-4">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="oneway" [(ngModel)]="oneway" [value]="true">
                    <label class="form-check-label" for="oneway">One way</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="oneway" [(ngModel)]="oneway" [value]="false">
                    <label class="form-check-label" for="twoway">Two Way</label>
                </div>
            </div>
            <div class="pb-3">
                <div class="form-group form-check-inline">
                    <label for="fromPlace">
                        From
                    </label>
                    <select class="form-select" ngModel id="fromPlace" name="fromPlace">
                        <option *ngFor="let d of fromPlaceUniq" [value]="d">{{d | titlecase}}</option>
                      </select>
                </div>
                <div class="form-group form-check-inline">
                    <label for="toPlace">
                        To
                    </label>
                    <select class="form-select" ngModel id="toPlace" name="toPlace">
                        <option *ngFor="let d of toPlaceUniq" [value]="d">{{d | titlecase}}</option>
                      </select>
                </div>
    
            </div>
            <div class="pb-3">
                <div class="form-group form-check-inline">
                    <label for="depart">
                        Depart
                    </label>
                    <input type="date" [min]="minDate" id="depart" name="depart" ngModel class="form-control">
                </div>
                <div class="form-group form-check-inline">
                    <label for="return">
                        Return
                    </label>
                    <input type="date" [min]="minDate" [disabled]="oneway" id="return" name="return" ngModel class="form-control">
                </div>
            </div>
            <div class="form-group pb-3 pt-4">
                <button type="submit" [disabled]="!bookFlightForm.form.valid" class="btn btn-primary">Search</button>
            </div>
        </div>
        
    </form>
</div>
<div class="col-12 row ps-2">
    <div *ngIf="(result.length==0 && searchFlag) || (returnFlights.length==0 && searchFlag && !oneway) " class="text-center">
        No Records found for this search 
    </div>
<div *ngIf="result.length>0" class="col-6" [ngClass]="oneway ? 'col-6 offset-3' : 'col-6'">

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Airline Name</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Time</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let f of  result">
                <td>{{f.airlineName}}</td>
                <td>{{f.fromPlace}}</td>
                <td>{{f.toPlace}}</td>
                <td>{{f.startDateTime}} - {{f.endDateTime}}</td>
                <td> {{f.price  | currency:"₹"}}</td>
                <td>
                    <input class="form-check-input" type="radio" name="departFlight"  value="departFlight" (click)="bookDepartFlight(f)" >
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="returnFlights.length>0" class="col-6">

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Airline Name</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Time</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let f of  returnFlights">
                <td>{{f.airlineName}}</td>
                <td>{{f.fromPlace}}</td>
                <td>{{f.toPlace}}</td>
                <td>{{f.startDateTime}} - {{f.endDateTime}}</td>
                <td> {{f.price  | currency:"₹"}}</td>
                <td>
                    <!-- <button (click)="bookReturnFlight(f)" class="btn btn-success">Book</button> -->
                    <input class="form-check-input" type="radio" name="returnFlightRadio" value="returnFlightRadio" (click)="bookReturnFlight(f)" >
                </td>
            </tr>
        </tbody>
        
    </table>
</div>

</div>
<div *ngIf="result.length>0 || returnFlights.length>0" class="ft-padding-btm" [ngClass]="oneway ? 'offset-3' : 'offset-0'">
    <button [disabled]="!(departFlightData || (departFlightData && returnFlightData))" (click)="bookFlight()" class="btn btn-success">Book</button>
</div>