<div class="offset-3 col-6 pt-5 ft-padding-btm">

    <table class="table table-striped table-bordered">
        <tbody>
            <tr *ngFor="let f of  manageBookData  | orderBookDetail">
                <td>{{f.dateOfJourney | manageDate}} </td>
                <td>{{f.flightName}}</td>
                <td> {{f.price  | currency:"Rs."}}</td>
                <td>{{f.passengerDetail.length}} seats</td>
                <td>{{f.status | titlecase}}</td>
                <td>
                    <button class="btn btn-secondary" (click)="viewDetails(f)">
                        View Details
                    </button>
                </td>
            </tr>
        </tbody>
        
    </table>
</div>