<h3 *ngIf="this.isAddMode"class="text-center">Add Airlines</h3>
<h3 *ngIf="!this.isAddMode"class="text-center">Scheduled Airlines</h3>
<div class="ft-padding-btm">
    <form [formGroup]="airlineCreateForm" (ngSubmit)="onSubmit()">
        <h3>Airline Details</h3>
        <div class="d-flex ps-3">
            <div class="pb-2 pe-3">
                <label for="mailId">Email</label>
                <div>
                    <input type="email" class="form-control" formControlName="emailId"
                        placeholder="Enter Email id" required>
                </div>
            </div>
            <div class="pb-2 pe-3">
                <label for="phoneNumber">Phone Number</label>
                <div>
                    <input type="number" class="form-control" formControlName="phoneNumber"
                        placeholder="Enter Phone Number" required>
                </div>
            </div>
            <div class="form-group row pb-2 pe-3">
                <label for="airlineName">Airline Name</label>
                <div>
                    <input type="text" class="form-control" formControlName="airlineName"
                        placeholder="Enter Airline Name" required>
                </div>
            </div>
            
        </div>
        <hr>
        <h3>Flight Details</h3>
        <div class="d-flex pb-4 ps-3">
            <div class="form-group row pb-2 pe-3">
                <label for="flightNumber">Flight Number</label>
                <div>
                    <input type="text" class="form-control" formControlName="flightNumber"
                        placeholder="Enter Flight Number" required>
                </div>
            </div>
            <div class="form-group row pb-2 pe-3">
                <label for="instrumentUsed">Instrument Used</label>
                <div>
                    <input type="text" class="form-control" formControlName="instrumentUsed"
                        placeholder="Enter Instrument Used" required>
                </div>
            </div>
            <div class="form-group row pb-2 pe-3 ">
                <label for="fromPlace">From Place</label>
                <div>
                    <input type="text" class="form-control" formControlName="fromPlace" placeholder="Enter From Place"
                        required>
                </div>
            </div>
            <div class="form-group row pb-2 pe-3">
                <label for="toPlace">To Place</label>
                <div>
                    <input type="text" class="form-control" formControlName="toPlace" placeholder="Enter to Place"
                        required>
                </div>
            </div>
            <div class="form-group row pb-2 pe-3">
                <label for="startDateTime">Start Time</label>
                <div>
                    <input type="time" class="form-control" formControlName="startDateTime" required>
                </div>
            </div>
            <div class="form-group row pb-2 pe-3">
                <label for="endTime">End Time</label>
                <div>
                    <input type="time" class="form-control" formControlName="endDateTime" required>
                </div>
            </div>
        </div>
        <div class="pb-3 ps-3">
            <div class="form-check form-check-inline" *ngFor="let fd of flightDays; let i = index"
                formArrayName="scheduledDays">
                <input class="form-check-input" type="checkbox" [formControlName]="i">
                <label class="form-check-label"> {{fd.name}}</label>
            </div>
        </div>
        <div class="d-flex ps-3">

            <div class="form-group row pb-2 pe-3 col-2">
                <label for="totalNoOfSeats">Number of seats</label>
                <div>
                    <input type="number" class="form-control" formControlName="totalNoOfSeats"
                        placeholder="Enter Number of seats" required>
                </div>
            </div>
            <div class="form-group row pb-2 pe-3 col-2">
                <label for="totalNoOfBussinessSeats">Number Of bussiness Seats</label>
                <div>
                    <input type="number" class="form-control" formControlName="totalNoOfBussinessSeats"
                        placeholder="Enter No of Bussiness seats" required>
                </div>
            </div>
            <div class="form-group row pb-2 pe-3 col-2">
                <label for="price">Price</label>
                <div>
                    <input type="number" class="form-control" formControlName="price" placeholder="Enter Price"
                        required>
                </div>
            </div>
            <div class="form-group row pb-2  pe-3 col-2">
                <label for="noOfRows">Number of Rows</label>
                <div>
                    <input type="number" class="form-control" formControlName="noOfRows"
                        placeholder="Enter Number of Rows" required>
                </div>
            </div>
            <div class="form-group form-check-inline pb-2 pe-3 col-2">
                <label>
                    Block/unblock
                </label>
                <select class="form-select" formControlName="block" name="blockSelection">
                    <option value="active">Active</option>
                    <option value="blocked">blocked</option>
                  </select>
            </div>
    
            <div class="form-group form-check-inline pb-2 pt-4">
                <div class="form-check form-check-inline" *ngFor="let ml of mealList; let i = index" formArrayName="meal">
                    <input class="form-check-input" type="checkbox" [formControlName]="i">
                    <label class="form-check-label"> {{ml.name}}</label>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div *ngIf="isAddMode" class="form-group row pb-2 ps-3">
                <div>
                    <button type="submit" [disabled]="!airlineCreateForm.valid" class="btn btn-primary">Add
                        Airline</button>
                </div>
            </div>
            <div *ngIf="!isAddMode" class="form-group row pb-2 ps-3">
                <div>
                    <button type="submit" [disabled]="!airlineCreateForm.valid" class="btn btn-primary">Update
                        Airline</button>
                </div>
            </div>
            <div *ngIf="isAddMode && successMsg" class="form-group row pb-2">
                <div class=" offset-2">
                    <p class="alert alert-success">
                        <strong>Airline Successfully Added !!!!!</strong>
                    </p>
                </div>
            </div>
            <div *ngIf="!isAddMode && successMsg" class="form-group row pb-2">
                <div class=" offset-2">
                    <p class="alert alert-success">
                        <strong>Airline Successfully Updated !!!!!</strong>
                    </p>
                </div>
            </div>
        </div>

    </form>

</div>