<div class="ft-padding-btm">
	<div class="offset-1 col-10 pt-4">
        <h1>Booking Details</h1>
        <div class="text-end">
            <button (click)="addTable()" class="btn btn-primary">Add Passenger</button> <br> <br>
        </div>
        
        <table *ngIf="row.length>0" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Age</th>
                    <th scope="col">Meal</th>
                    <th scope="col">Seat Number</th>
                    <th scope="col" *ngIf="bookService.bookingData.length===2">Return Seat Number</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of row; let i = index">
                    <td><input typae="text" [(ngModel)]="item.name"></td>
                    <td>
                        <select class="form-select"  [(ngModel)]="item.gender" name="genderSelection">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                          </select>
                    </td>
                    <td><input type="number" [(ngModel)]="item.age"></td>
                    <td>
                        <select class="form-select"  [(ngModel)]="item.meal" name="mealSelection">
                            <option value="veg">Veg</option>
                            <option value="non-veg">Non Veg</option>
                            <option value="no">No</option>
                          </select>
                    </td>
                    <td>
                        <select class="form-select"  [(ngModel)]="item.seatNumber" name="seatNumberSelection">
                            <!-- <option value="male">Male</option> -->
                            <option *ngFor="let ds of departSeats" [value]="ds">{{ds}}</option>
                          </select>
                    </td>
                    <td  *ngIf="bookService.bookingData.length===2">
                        <select class="form-select"  [(ngModel)]="item.returnSeatNumber" name="seatNumberSelection">
                            <!-- <option value="male">Male</option> -->
                            <option *ngFor="let rs of departSeats" [value]="rs">{{rs}}</option>
                          </select>
                    </td>
                    <td> <button class="btn btn-danger" (click) = "deleteRow(i)">Delete</button></td>
                </tr>
            </tbody>
            
        </table>
        <!-- <div >
            <button class="btn btn-primary" (click)=calculatePrice()>check price</button>
        </div> -->
        <div *ngIf="!discountFlag">
            <div *ngIf="bookService.bookingData.length===2 && !bookFlag">
                {{bookingData.price*row.length + returnBookingData.price*row.length  | currency:"Rs."}}
            </div>
            <div *ngIf="bookService.bookingData.length===1 && !bookFlag">
                {{bookingData.price*row.length  | currency:"Rs."}}
            </div>
        </div>
        <div *ngIf="discountFlag">
            <div *ngIf="bookService.bookingData.length===2 && !bookFlag">
                {{discountedAmount | currency:"Rs."}}
            </div>
            <div *ngIf="bookService.bookingData.length===1 && !bookFlag">
                {{discountedAmount  | currency:"Rs."}}
            </div>
        </div>
        <!-- <div *ngIf="totalPrice>0">
            {{totalPrice| currency:"₹"}}  
        </div> -->
        <div>
            <div class="form-group form-check-inline">
                <label for="couponCode">
                    Coupon Code
                </label>
                <input type="text" id="couponCode" name="couponCode" [(ngModel)]="couponCode" class="form-control">
            </div>
            <div class="pt-3">
                <button class="btn btn-primary" (click)="checkCoupon()">
                    Apply Coupon
                </button>
            </div>
            <div *ngIf="invalidCoupon">
                <b>Invalid Coupon try with other coupons</b>
            </div>
        </div>

        <div class="pt-3" *ngIf="row.length>0">
            <button class="btn btn-success" (click)="confirmBooking()">
                Checkout
            </button>
        </div>
        <div class="pt-3" *ngIf="bookFlag">
            <p class="alert alert-success">
                <strong>Ticket has been Booked Successfully</strong>.
            </p>
        </div>
    </div>
   
</div>
