<nav class="navbar navbar-dark" style="background-color: #3e76c7;">
  <div class="navbar-brand mx-auto">Book Flight</div>
  <div class="text-white"*ngIf="userName">
    <i class="fa fa-user" aria-hidden="true" style="font-size: 20px;"></i>
    Welcome  <span class="username-font">
      {{userName | titlecase }}
    </span>
  </div>
</nav>
  <nav class="navbar navbar-dark bg-dark" style="height: 56px;">
    <div class="navbar-expand">
      <div class="navbar-nav">
        <a *ngIf="userRole && userRole==='user' && !(userRole==='admin')" class="text-white nav-item nav-link" routerLink="/bookFlight">Book Flight</a>
        <a *ngIf="userRole && userRole==='user' && !(userRole==='admin')" class="text-white nav-item nav-link" routerLink="/manageBooking">Manage Bookings</a>
        <a *ngIf="userRole && userRole==='user' && !(userRole==='admin')" class="text-white nav-item nav-link" routerLink="/bookingHistory">Booking History</a>
        <a *ngIf="userRole && userRole==='admin'" class="text-white nav-item nav-link" routerLink="/admin/manageAirline">Manage Airline</a>
        <a *ngIf="userRole && userRole==='admin'" class="text-white nav-item nav-link" routerLink="/admin/manageDiscount">Manage Discount</a>
        <a *ngIf="userRole && userRole==='admin'" class="text-white nav-item nav-link" routerLink="/admin/manageSchedule">Manage Schedule</a>
      </div>
    </div>
    <div class="navbar-nav">
      <a *ngIf="userRole && userLogin" (click)="redirect()" class="nav-item nav-link text-white pointerClass">
        Logout
      </a>
      <a *ngIf="!userRole && !userLogin" routerLink="/login"class="nav-item nav-link text-white pointerClass">
        Login
      </a>
    </div>
      
  </nav>