<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto" style="flex-direction: row;">
        <li class="nav-item active ps-4 pe-3">
            <a target="_blank" href="https://twitter.com/" class="fa fa-twitter"></a>
        </li>
        <li class="nav-item pe-3">
            <a target="_blank" href="https://www.google.com/" class="fa fa-google"></a>
        </li>
        <li class="nav-item pe-3">
            <a target="_blank" href="https://www.linkedin.com" class="fa fa-linkedin"></a>
        </li>
        <li class="nav-item pe-3">
            <a target="_blank" href="https://www.youtube.com/" class="fa fa-youtube"></a>
        </li>
        <li class="nav-item pe-3">
            <a target="_blank" href="https://www.instagram.com/" class="fa fa-instagram"></a>
        </li>
        <li class="nav-item pe-3">
            <a target="_blank" href="https://www.facebook.com/" class="fa fa-facebook"></a>
        </li>
    </ul>
    <div class="text-white pe-4">
       <i class="fa fa-copyright"></i>2021 BookFlight
    </div>
   

 

    
   
</nav>