.fa {  
    padding: 6px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 50%; 
  }

  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
  }

  .fa-twitter {
    background: #55ACEE;
  }

  .fa-google {
    background: #dd4b39;
  }

  .fa-linkedin {
    background: #007bb5;
  }

  .fa-youtube {
    background: #bb0000;
  }

  .fa-instagram {
    background: #8a3ab9;
  }