<div class="text-end p-3">
    <button (click)="download()" class="btn btn-success">
        Download
    </button>
</div>
<div id="ticketDetails" class="offset-3 col-6 ft-padding-btm">
<h1>
    Flight Booking Details
</h1>
<div>
    <h5>
        TicketNumber:
    </h5>
    <h3>
        {{viewDetailData.id}}
    </h3>
</div>
<hr>
<div class="d-flex">
    <div class="col-6">
        <h5>
            From:
        </h5>
        <h3>
            {{flightDetails.fromPlace}}
        </h3>
    </div>
    <div  class="col-6">
        <h5>
            TO:
        </h5>
        <h3>
            {{flightDetails.toPlace}}
        </h3>
    </div>
</div>
<div class="d-flex">
    <div class="col-6">
        <h5>
            Date:
        </h5>
        <h3>
            {{viewDetailData.dateOfJourney | manageDate}}
        </h3>
    </div>
    <div  class="col-6">
        <h5>
           Price
        </h5>
        <h3>
            {{viewDetailData.price | currency:"Rs."}}
        </h3>
    </div>
</div>
<div class="d-flex">
    <div class="col-6">
        <h5>
            Start Time:
        </h5>
        <h3>
            {{flightDetails.startDateTime}}
        </h3>
    </div>
    <div  class="col-6">
        <h5>
           End Time
        </h5>
        <h3>
            {{flightDetails.endDateTime}}
        </h3>
    </div>
</div>
<hr>
<div>
<h2>Passenger Details</h2>
<div >

    <table class="table table-striped table-bordered">
         <thead>
            <tr>
                <th scope="col">Passenger Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Age</th>
                <th scope="col">Meal</th>
                <th scope="col">Seat Number</th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let p of viewDetailData.passengerDetail">
                <td>{{p.name}} </td>
                <td>{{p.gender}}</td>
                <td>{{p.age}}</td>
                <td>{{p.meal}}</td>
                <td>{{p.seatNumber}}</td>
            </tr>
        </tbody>
        
    </table>
</div>

</div>
</div>

