<div class="offset-3 col-6 pt-5 ft-padding-btm" id="table">

    <table class="table table-striped table-bordered">
        <tbody>
            <tr *ngFor="let f of  manageBookData | orderBookDetail">
                    <td>{{f.flightName}}</td>
                    <td>{{f.dateOfJourney | manageDate}} </td>
                    <td> {{f.price  | currency:"Rs."}}</td>
                    <td>
                        <button class="btn btn-secondary" (click)="viewDetails(f)">
                            View Details
                        </button>
                    </td>
                    <!-- <td>
                        <a class="btn btn-success" (click)="click(f)" download="ticket.html">
                            Download
                        </a>
                    </td> -->
                    <td>
                        <button *ngIf="f.dateOfJourney | bookingCancelDate" class="btn btn-danger" (click)="cancelTicket(f)">
                            Cancel
                        </button>
                    </td>
                
            </tr>
        </tbody>
        
    </table>
</div>