<div>
    <div class="offset-3 col-6 pt-2 ft-padding-btm">
        <h1>Manage Discount</h1>
        <div class="text-end pb-3">
            <button class="btn btn-success" (click)="addDiscount()">
                Add Discount
            </button>
        </div>
        
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Coupon Code</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Percentage</th>
                    <th scope="col">Maximum Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cd of  couponData">
                    <td>{{cd.couponCode}}</td>
                    <td>{{cd.startDate | manageDate}} </td>
                    <td>{{cd.endDate | manageDate}} </td>
                    <td>{{cd.percentage}} %</td>
                    <td> {{cd.maxAmount  | currency:"Rs."}}</td>
                    <td>
                        <button class="btn btn-primary" (click)="edit(cd)">
                            Edit
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="delete(cd)">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
            
        </table>
    </div>
</div>
