<div>
    <div class="offset-3 col-6 pt-2 ft-padding-btm">
        <h1 class="text-center">Manage Airlines</h1>
        <div class="text-end pb-3">
            <button class="btn btn-success" (click)="addAirline()">
                Add Airline
            </button>
        </div>
        
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Ariline Name</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">End Time</th>
                    <th scope="col">Price</th>
                    <th scope="col">Active/Blocked</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fd of  flightData">
                    <td>{{fd.airlineName}}</td>
                    <td>{{fd.fromPlace}} </td>
                    <td>{{fd.toPlace}} </td>
                    <td>{{fd.startDateTime}} </td>
                    <td>{{fd.endDateTime}} </td>
                    <td> {{fd.price  | currency:"Rs."}}</td>
                    <td>{{fd.block}}</td>
                    <td>
                        <button class="btn btn-primary" (click)="edit(fd)">
                            Edit
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="delete(fd)">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
            
        </table>
    </div>
</div>
