/* You can add global styles to this file, and also import other style files */

.ft-padding-btm{
    padding-bottom: 120px;
}

label{
    font-weight: 500;
}


// .bg-image{
//     background-image: url('./assets/bg-image.jpg');;
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-color: rgba(255,255,255,0.6);
//     min-height: 450px;
// }